.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.sidebar_header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
  min-width: 10vw;
}

.sidebar_search {
  display: flex;
  align-items: center;
  height: 39px;
  padding: 10px;
  background-color: #f6f6f6;
}
.sidebar_searchContainer {
  display: flex;
  align-items: center;
  height: 35px;
  width: 100%;
  border-radius: 20px;
  background-color: white;
}

.sidebar_searchContainer > .MuiSvgIcon-root {
  color: grey;
  padding: 10px;
}
.sidebar_searchContainer > input {
  outline-style: none;
  width: 80%;
  border: none;
  margin-left: 10px;
}
.sidebar_chats {
  background-color: white;
  flex: 1;
  overflow: scroll;
}
